.header {
  margin: 30px 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-link {
  display: flex;
  align-items: center;
}

.header-link a {
  margin-left: 10px;
}
